.delete {
  background-color: Red;

  color: white;
  width: 110px;
  height: 35px;
  font-size: large;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
}
.update {
  background-color: green;
  display: inline-block;
  color: white;
  width: 110px;
  height: 35px;
  font-size: large;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 30px;
  /* margin-left: 30px; */
}
button:hover {
  background-color: pink;
  color: black;
}

.con {
  width: 16vw;
}
.back {
  background-color: aqua;

  color: black;
  width: 250px;
  height: 35px;
  font-size: large;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  padding: 5px;
  margin: 5px 0px;
}

/* copy right css */
.footer {
  text-align: center;
  /* margin-top: 20px; */
  padding: 5px;
  background-color: black;
  color: white;
}

.cancle {
  background-color: Red;

  color: white;
  width: 250px;
  height: 35px;
  font-size: large;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
}
